.topbar {
  font-size: var(--font-size);
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 0px;
  white-space: nowrap;
  button {
    margin-left: 1em;
  }
}
