.topbar {
  font-size: var(--font-size);
  color: var(--color-primary);
  background-color: var(--color-body);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 16px 32px;
  border: 1px dotted white;
  line-height: 1.5;
  white-space: nowrap;
}
