.link {
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--color-secondary), 0.1);
    color: var(--color-secondary);
  }
}

.btn-try {
  border: $indent / 2 dashed rgba(var(--color-msg-success), 0.6);
  min-width: $indent * 30;
  background: rgba(var(--color-msg-success), 0.3);
  font-size: $indent * 3.5;
  &:hover {
    background: rgba(var(--color-msg-success), 0.45);
  }
}
.scroll {
  &-y {
    position: relative;
    min-width: $indent * 30;
    height: 100%;
    // background: rgba($shadow, 0.3);
    // max-height: calc(100vh - 21rem);
    overflow-y: auto;
    overflow-x: hidden;
    &.paginate {
      margin-bottom: $indent * 7.5;
    }
  }
}

@keyframes loader-dots {
  from {
    width: 0px;
  }
  to {
    width: 23px;
  }
}
.loader {
  &-dots {
    font-size: var(--font-size-h1);
    margin-bottom: $indent;
    display: inline-block;
    width: 23px;
    overflow: hidden;
    animation: loader-dots 2s linear infinite;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.color {
  &-error {
    color: lighten($error, 15);
  }
  &-warning {
    color: lighten($warning, 15);
  }
  &-white {
    color: $texth;
  }
}

.toggler {
  min-width: 30px;
  background: var(--color-primary);
  border-width: 2px;
  border-radius: 9px;
  border-style: solid;
  border-color: rgba($shadow, 0.01);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background: var(--color-primary);
    border-color: rgba($brand, 0.2);
  }
  &.toggled {
    background: lighten($brand, 6%);
    &:hover {
      border-color: rgba($texth, 0.1);
    }
    .toggler-circle {
      background: var(--color-primary);
      transform: translateX(11px);
    }
  }
  &-circle {
    transition: 0.4s;
    background: rgba($shadow, 0.85);
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
}
